extends layout

block content
	header Hello #{profile.firstName}
	for q in questions
		.kit-container
			.kit-name#kit-name
				h2 Kit: #{q.kitName}
				a(data-profileid="#{profile._id}" data-kitid="#{q._id}").delete#delete Delete Kit
			for x in q.kitItems
				.row
					.large-1.columns 
						img(src="#{x.url}")
					.large-2.columns.text #{x.itemName}							
					.large-1.columns.text Quantity: #{x.quantity} 
					if (x.quantity) > 1
						.large-2.columns #{x.unitOfMeasure}s
					else if (x.unitOfMeasure) !== 0 && (x.quantity) === 1
						.large-2.columns #{x.unitOfMeasure}				
					else
						.large-2.columns 
					if (x.addedDate)==null
						.large-2.columns.text 
							img(src="/images/icons/check.png" data-profileid="#{profile._id}" data-kitid="#{q._id}" data-itemid="#{x._id}")#check
					else
						.large-2.columns.text Added: #{x.addedDate}
					if (x.expiration) === 0 || (x.expiration) === (x.addedDate) || (x.addedDate)==null
						.large-2.columns.text#exp-date Expiration: N/A
					else 
						.large-2.columns.text#exp-date Expiration: #{x.expDate}
					.large-2.columns
						img(src="/images/icons/question.png" data-tooltip class="has-tip" title="#{x.description}")

	a(href="/" class="button [radius round]") Home
