extends layout

block content
	nav(class="top-bar" data-topbar)
		ul.title-area
			li.name
				a(href="#") #{profile.firstName}'s Emergency Kits
		section(class="top-bar-section")
			ul.right
				li(data-reveal-id="myModal").active
					a(href="/logout" class="strong") Logout
	for k in kits
		.kit-container
			.kit-info
				.row.white
					.large-11.columns#kit-info
						h2 Kit: #{k.kitName}
					.large-1.columns
						a(data-profileid="#{profile._id}" data-kitid="#{k._id}").right-align#delete Delete Kit
				.row.white#kit-info
					.large-12.columns
						h3 Location: #{k.location} | Group Size: #{k.groupSize} | Pets: #{k.pets}
			for x in k.kitItems
				.row.white.hidden(data-kitid="#{k._id}")
					.medium-1.columns 
						img(src="#{x.url}")
					.medium-2.columns 
						.text #{x.itemName}
					if (x.unitOfMeasure) < 1
						.medium-2.columns 
							.text #{x.quantity}
					else if (x.quantity) > 1
						.medium-2.columns 
							.text #{x.quantity} #{x.unitOfMeasurePlural}
					else if (x.quantity) === 1
						.medium-2.columns 
							.text #{x.quantity} #{x.unitOfMeasure}
					if (x.addedDate)==null
						.medium-2.columns 
							img.img-md(src="/images/icons/check.png" data-profileid="#{profile._id}" data-kitid="#{k._id}" data-itemid="#{x._id}")#check
					else
						.medium-2.columns 
							.text Added: #{x.addedDate}
					if (x.expiration) === 0 || (x.expiration) === (x.addedDate) || (x.addedDate)==null
						.medium-2.columns#exp-date 
							.text Expiration: N/A
					else 
						.medium-2.columns#exp-date 
							.text Expiration: #{x.expDate}
					.medium-2.columns
						img.img-md(src="/images/icons/question.png" data-tooltip class="has-tip" title="#{x.description}")