extends layout

block content
	.row.title
		.large-8.columns.header #{profile.firstName}'s Emergency Kits
		.large-1.columns.rpad-q
			a(href="/logout" class="button [radius round]") Logout
	for k in kits
		.kit-container
			.kit-name#kit-name
				.row.delete
					.large-12.columns
						a(data-profileid="#{profile._id}" data-kitid="#{k._id}").right#delete Delete Kit
				.row.white
					.large-12.columns
						h2 Kit: #{k.kitName}
				.row.white
					.large-12.columns
						h3 Location: #{k.location} | Group Size: #{k.groupSize} | Pets: #{k.pets}
			for x in k.kitItems
				.row.white
					.large-1.columns 
						img(src="#{x.url}")
					.large-2.columns.text #{x.itemName}
					if (x.unitOfMeasure) < 1
						.large-2.columns #{x.quantity}
					else if (x.quantity) > 1
						.large-2.columns #{x.quantity} #{x.unitOfMeasurePlural}
					else if (x.quantity) === 1
						.large-2.columns #{x.quantity} #{x.unitOfMeasure}
					if (x.addedDate)==null
						.large-2.columns.text 
							img.img-md(src="/images/icons/check.png" data-profileid="#{profile._id}" data-kitid="#{k._id}" data-itemid="#{x._id}")#check
					else
						.large-2.columns.text Added: #{x.addedDate}
					if (x.expiration) === 0 || (x.expiration) === (x.addedDate) || (x.addedDate)==null
						.large-2.columns.text#exp-date Expiration: N/A
					else 
						.large-2.columns.text#exp-date Expiration: #{x.expDate}
					.large-2.columns
						img.img-md(src="/images/icons/question.png" data-tooltip class="has-tip" title="#{x.description}")