extends layout

block content
	p Hello #{profile.firstName}
	for q in questions
		.kit-container
			.kit-name#kit-name
				h2 Kit Name: #{q.kitName}
				a(href="#{q._id}").delete#delete Delete Kit
			for x in q.kitItems
				.row
					.large-2.column 
						img(src="#{x.url}")
					.large-2.column Quantity: #{x.quantity}
					.large-2.column Item: #{x.itemName}
					if (x.addedDate)==null
						.large-2.column 
							img(src="/images/icons/check.png" data-profileid="#{profile._id}" data-kitid="#{q._id}" data-itemid="#{x._id}")#check
					else
						.large-2.column Added: #{x.addedDate}
					if (x.expiration) === 0 || (x.expiration) === (x.addedDate) || (x.addedDate)==null
						.large-2.column Expiration: N/A
					else 
						.large-2.column Expiration: #{x.expDate}
					.large-2.column
						img(src="/images/icons/question.png" data-tooltip class="has-tip" title="#{x.description}")

	a(href="/" class="button expand") Home
