extends layout

block content
	p Hello #{profile.firstName}
	for q in questions
		ul
			li.kitname #{q.kitName}
			li 
				a(href="#")#delete-kit #{q._id}
			for x in q.kitItems
				li #{x.itemName}
				li #{x.description}
				li #{x.quantity}
	a(href="/" class="button expand") Home
